	body{
		padding-bottom: 1000px;
		font-size: 13px;
  		font-family: 'Roboto Flex', Arial, sans-serif;
	}

	.sidebar {
		position: fixed;

		top: 0; left: 0;
		width: 60px;               /* độ rộng sidebar */
		height: 100vh;             /* cao bằng chiều cao viewport */
		
		background-color: white; /* xanh lá cây */
		box-shadow: 2px 0 8px rgba(0,0,0,0.1);

		transition: width 0.4s ease;
		transform-origin: left;

		display: flex;
		flex-direction: column;

		padding-top: 16px;
		overflow: visible;

		z-index: 1000;            /* Đảm bảo sidebar luôn trên cùng */

	}
	.sidebar:hover{
		width: 250px;          /* độ rộng pill bạn muốn */
	}

	.sidebar-link {
		position: relative;
		width: 100%;
		margin-top: 0px;
		display: flex;
		flex-direction: row;


		font-size: 12px;
		font-weight: 600;
	}


	/* ====== Các link/icon khác ====== */

.sidebar-link img{
		width: 24px;
		flex-shrink: 0;
		margin-right: 12px;         /* icon cách label */
		margin-top: 18px;
}

.sidebar-link a {
	display: flex;
	align-items: center;
	width: 100%;                
	height: 50px;
	padding: 0;
	color: #333;
	white-space: nowrap;    
	transition: 0.2s;
      

}
/* Icon + khoảng cách */
.sidebar-link a img {
	padding-left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	margin-right: 12px;
	flex-shrink: 0;
}


/* Ẩn nhãn & mũi tên khi collapsed */
.arrow{
	margin-right: 15px;
}
.sidebar-link .label,
.sidebar-link .arrow
{
	opacity: 0;
	margin-top: 18px;

}

/* Change to yellow when hover */
.sidebar-link:hover .label,
.sidebar-link:hover .arrow{
	color: rgb(169, 169, 70);

}

/* Hiện khi hover sidebar */
.sidebar:hover .sidebar-link .label,
.sidebar:hover .sidebar-link .arrow
{
	opacity: 1;
}

/* Mũi tên đẩy sát phải */
.sidebar-link .arrow {
	margin-left: auto;
	color: #999;
}

/* Hidden submenu */
.submenu {
  position: absolute;
  margin-top: 10px; left: 100%;
  max-height: calc(100vh - 20px);  /* không vượt quá viewport */
  background: #fff;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
	
  border-right:  1px solid#ddd;
	border-radius: 0 8px 8px 0;

	overflow: hidden;
}

.submenu a:first-child{
	border-top: 1px solid #ddd;

}

.submenu a {
	font-size: 11px;
	font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;            
  padding: 0 16px;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.sidebar-link.has-submenu:hover > .submenu,
.sidebar-link.has-submenu > .submenu:hover {
  opacity: 1;
  pointer-events: auto;
}



.submenu a:hover {
  background: #f0f0f0;

}