@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme
{
  --font-Montserrat: "Montserrat", Arial;
  --color-primary: rgb(255, 231, 0);
  --color-secondary: black;
}

body
{
  height:10000px;
}