

.ham
{
    display: block;
    width: 17px;     /* <— đây là chiều dài gạch */
    height: 1.5px;     /* độ dày gạch */
    background: #000;
    margin-left: -1px;
    border-radius: 1px;
    padding: 0;
}

.lower-header-mid
{
    flex: 1;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.menu-item
{
    display: flex;
    width: 150px;
    height: 100%;
    font-size: 13.5px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease; */
}

.menu-item img
{
    display: inline;
    width: 19px;
    height: auto;
    margin-right: 5px;
    transition: width 1s ease;
}

.menu-item strong {
    position: relative;             /* establish positioning context */
    display: inline-block;          /* shrink-wrap to text for absolute bottom */
    transition: opacity 0.2s ease-out;
    cursor: pointer;
}

.menu-item strong::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 2px;                    /* underline thickness */
    width: 0;                       /* start “hidden” */
    background-color: rgb(255, 231, 0);       /* underline color */
    transition: width 0.3s ease;    /* animate width */
    transform-origin: left;         /* grow from left edge */
}

.menu-item strong:hover::after
{
    width: 100%;
}

.menu-item strong:hover
{
    opacity: 60%;
}

.lower-header-right
{
    flex: 4;
    /* background-color: violet; */
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-button
{
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: rgb(255, 231, 0);
    border: none;
    border-radius: 50px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
